{% extends layout | default("_layout.html") %}
{% block hero %}
    <div class="hero__main">
      <div class="hero__row"><span class="hero__num">{{ d.gasoline }}</span><span class="hero__unit">원/L</span></div>
      <span class="hero__badge hero__badge--{{ d.gasoline_dir }}">{{ d.gasoline_delta }}</span>
    </div>
{% endblock %}
{% block body %}
    <div class="chips">
{% for f in d.fuels %}      <div class="chip"><span class="chip__label">{{ f.name }}</span>
        <span class="chip__value">{{ f.price }}<small>원</small></span></div>
{% endfor %}    </div>
    <div class="rows">
{% for r in d.cheapest[:2] %}      <div class="row">
        <span class="row__no">{{ loop.index }}</span>
        <span class="row__body">
          <span class="row__name">{{ r.name }}</span>
          <span class="row__meta">{{ r.addr }}</span>
        </span>
        <span class="row__value">{{ r.price }}</span>
      </div>
{% endfor %}    </div>
{% endblock %}
