{% extends layout | default("_layout.html") %}
{% block hero %}
    <div class="hero__main">
      <div class="hero__row"><span class="hero__num">{{ d.tmax }}</span><span class="hero__unit">°C</span></div>
      <span class="hero__badge hero__badge--down">최저 {{ d.tmin }}°</span>
    </div>
{% endblock %}
{% block body %}
    <div class="chips">
      <div class="chip"><span class="chip__label">하늘</span>
        <span class="chip__value">{{ d.sky_icon }} {{ d.sky_text }}</span></div>
      <div class="chip"><span class="chip__label">강수확률</span>
        <span class="chip__value">{{ d.pop_max }}<small>%</small></span></div>
      <div class="chip"><span class="chip__label">습도</span>
        <span class="chip__value">{{ d.reh }}<small>%</small></span></div>
    </div>
    <div class="strip">
{% for h in d.hours %}      <div class="strip__cell">
        <span class="strip__time">{{ h.time }}</span>
        <span class="strip__icon">{{ h.icon }}</span>
        <span class="strip__temp">{{ h.temp }}°</span>
      </div>
{% endfor %}    </div>
{% endblock %}
